.commentRow{
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 50px;
    display: flex;
    font-weight: 500;
    font-size: 14px;
}
.commentRow__user{
    flex-shrink: 0;
    color: #00a3cf;
    font-style: italic;
}
.commentRow__content{
    margin: 0;
}
